{% extends 'base.html' %}

{% block title %}What it is{% endblock %}

{% block body_block %}
        <h1>What it is</h1>
        <p>This is a prototype of a simple "silent auction" style fundraiser, 21st century style. </p>

        <h3>The concept</h3>
        <p>US team members come up with items to be auctioned and submit them to the site. Anyone can create an account and bid on items. Once the auction is over the winner of each item makes a donation to the US Senior Team euqal or greater to their bid and the contact for the item makes sure it gets to them. Simple!</p>
{% endblock %}