<!DOCTYPE html>

{% load staticfiles %}

<html>

    <head>
        <title>Obay</title>
    </head>

    <body>
        <h1>Welcome to Obay!</h1>

        {% if items %}
            <ul>
                {% for item in items %}
                <li><a href="/obay/item/{{ item.slug }}">{{ item.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>No items.</strong><br />
        {% endif %} 

        <a href="/obay/add_item/">Add a new item</a><br />
        <a href="/obay/about/">About</a><br />
        {% if user.is_authenticated %}
            {{ user.username }}
        {% else %}
            <a href="/obay/login">Login<a><br />
            <a href="/obay/register/">Register here!</a>
        {% endif %}
    </body>

</html>