{% extends 'base.html' %}

{% block body_block %}
    <div class="page-header">
        <h1>Obay</a><small> bid on stuff </small></h1>
    </div> 

    <div class="row">
        
        {% if items %}
            <ul>
                {% for item in items %}
                <div class="col-sm-6 col-md-4">                
                    <div class="thumbnail">
                        <img src="{{ item.pic.url }}" style="height:150px">
                        <div class="caption">
                            <h3>{{ item.name }}</h3>
                            {% if item.top_bid %}
                                <p>Top bid: ${{ item.top_bid.amount }} ({{ item.top_bid.user.username }})</p>
                            {% else %}
                                <p>No bids yet!</p>
                            {% endif %}    
                            <p><a href="{% url 'add_bid' item.slug %}" class="btn btn-primary" role="button">Bid</a> 
                                <a href="{% url 'item' item.slug %}" class="btn btn-default" role="button">More info</a></p>
                          </div>
                        </div>
                      </div>
                {% endfor %}
            </ul>
        {% else %}
            <strong>No items.</strong><br />
        {% endif %} 
    </div>
{% endblock %}