<!DOCTYPE html>

{% load staticfiles %}

<html>

    <head>
        <title>Obay</title>
    </head>

    <body>
        <h1>{{ item_name }}</h1>

        {% if item %}
            {% if bids %}
            <ul>
                {% for bid in bids %}
                <li>{{ bid.amount }}</li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No bids yet!</strong><br />
            {% endif %} 
            <a href='/obay/item/{{ item_name_slug }}/add_bid/'>Bid on this!</a>
        {% else %}
            The specified item {{ item_name }} does not exist!
        {% endif %}   

    </body>

</html>