{% extends 'base.html' %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}
    <h1>{{ item_name }}</h1>
    {% if item %}
        <h1>{{ item.name }}</h1>
        <img src="{{ item.pic.url }}" style="height:350px">        
        <h4>Description</h4>
        <p>{{ item.description }}</p>
        <h5>Donated by: <small>{{ item.donor }}</small></h5>


        {% if bids %}
            <table class="table table-striped table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Bid</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bid in bids %}                              
                    <tr>
                        <td width=10%>{{ bid.user.username }}</td>
                        <td width=10%>${{ bid.amount }}</td>
                        <td width=20%>{{ bid.time|naturaltime }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <strong>No bids yet!</strong><br />
        {% endif %} 
        {% if item.auction.bidding_open %}
            {% if user.is_authenticated %} 
                <p>Want this item? Give us a bid!</p>     
                {% crispy form %}
            {% else %}
                <p><a href="{% url 'auth_login' %}">Sign in</a> and be the first to bid on this!</p>
            {% endif %}
        {% else %}
            <strong>Bidding is not open!</strong><br />            
        {% endif %}
    {% else %}
        The specified item {{ item_name }} does not exist!
    {% endif %}   
{% endblock %}

