{% extends 'base.html' %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}
        <h1>{{ item_name }}</h1>
        {% if item %}
            {% if bids %}
            <ul>
                {% for bid in bids %}
                <li>{{ bid.amount }}</li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No bids yet!</strong><br />
            {% endif %} 
            <a href="{% url 'add_bid' item_name_slug %}">Bid on this!</a>
        {% else %}
            The specified item {{ item_name }} does not exist!
        {% endif %}   
{% endblock %}

