{% extends 'base.html' %}
{% load humanize %}

{% block title %}My bids{% endblock %}

{% block body_block %}
    <h1>{{ user.username }}'s bids</h1>
    {% if bids %}
        <table class="table table-striped table-condensed table-hover">
            <thead>
                <tr>
                    <th>Top?</th>
                    <th>Item</th>
                    <th>Bid</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {% for bid in bids %}                
                <tr>
                    <td width=5%>
                        {% if bid == bid.item.top_bid %}
                        <span class="glyphicon glyphicon-star" style="color:orange"></span>
                        {% endif %}
                    </td>
                    <td width=20%><a href="{% url 'item' bid.item.slug %}">{{ bid.item }}</a></td>
                    <td width=10%>${{ bid.amount }}</td>
                    <td width=20%>{{ bid.time|naturaltime }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>You have no bids to show!</p>
        {% endif %}
{% endblock %}

