<!DOCTYPE html>

{% load staticfiles %}

<html>

    <head>
        <title>Obay</title>
    </head>

    <body>
        <h1>Register</h1>

        {% if registered %}
            Thanks for registering!
            <a href="/obay/">Home</a><br />
        
        {% else %}
        Register here!
        <form id="user_form" method="post" action="/obay/register/">

            {% csrf_token %}

            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}

    </body>

</html>