{% extends 'base.html' %}

{% block title %}What it is{% endblock %}

{% block body_block %}
        <h1>What it is</h1>
        <p>This is a prototype of a simple "silent auction" style fundraiser, 21st century style. </p>

        <h3>The concept</h3>
        <ul>
            <li>US team members come up with items to be auctioned and submit them to the site. They can be their own items/tasks or ones donated by friends and family</li> 

            <li>Anyone can create an account and bid on items. Non-orieteering friends, too! (Especially non-orienteering friends!)</li>

            <li>Once the auction is over the winner of each item makes a donation to the US Senior Team equal or greater to their bid. The team member responsibel for the item makes sure it gets to the winner. Simple!</li>
        </ul>

    <h2>Team USA thanks you for your support!</h2>
    <img src="http://orienteeringusa.org/sites/default/files/images/pages/2015-us-team.jpg">
{% endblock %}